<div class="columns log-in-form">
  <h4 class="text-center">Bem vindo(a)! Não me lembro de você, pode me ajudar?</h4>
  <label>Email
    <input type="email" placeholder="alguem@exemplo.com" [(ngModel)]="email" />
  </label>
  <label>Senha
    <input type="password" placeholder="Senha" [(ngModel)]="password" (keyup.enter)="login()"/>
  </label>
  <button (click)="login()" id="btnLogin">Login</button>
  <p class="text-center" onclick="alert('Oops. Não funciona ainda, vamos arrumar isso, prometemos.');"><a href="#">Esqueceu sua senha?</a></p>

  <div id="socialLogin">
    <button class="loginBtn loginBtn--facebook" onclick="alert('Oops. Este ainda não funciona direito, tente com o Google abaixo.');">
      Login with Facebook
    </button>

    <button (click)="loginWithGoogle()" class="loginBtn loginBtn--google">
      Login with Google
    </button>
 </div>

</div>

